*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.w-80 {
    width: 80vw;
    margin: auto;
}

.text-uppercase {
    text-transform: uppercase;
}

@mixin flexed($direction, $content, $items){
    display: flex;
    flex-direction: $direction;
    justify-content: $content;
    align-items: $items;
}